/*media querys*/
@mixin telefono{
    @media(min-width: #{$telefono}){
        /*AGREGAMOS EL CONTENT PARA QUE PUEDA COMPILAR TODO LO DEL CSS*/
        @content;
    }
}
@mixin tablet{
    @media(min-width: #{$tablet}){
        @content;
    }
}

@mixin desktop{
    @media(min-width: #{$desktop}){
        @content;
    }
}

@mixin box-sizing($box-model){
    box-sizing: $box-model;
}

@mixin boton($Color) {
    background-color: $Color;
    color: $blanco;
    display:block;
    text-align: center;
    text-decoration: none;
    border:none;
    width: 100%;
    border-radius: $radius;
    font-size: .9rem;
    padding: 1rem 0;
}